.advantages {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;

  .advantages__title {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .advantages__description {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .advantages__item {
    padding: 37px 18px;
    &--accent {
      background-color: #81B3D2;
      color: #ffffff;
    }
    &--secondary {
      background-color: #eeeeee;
    }
  }
  .advantages__img {
    height: 100%;
    object-fit: cover;
  }
}
