.advantages {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;

  .advantages__title {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  .advantages__description {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .advantages__item {
    &--accent {
      background-color: #81b3d2;
      color: #ffffff;
    }

    &--secondary {
      background-color: #eeeeee;
    }
  }

  .advantages__content {
    @media (min-width: $tablet-width) {
      height: 256px;

      display: flex;
      justify-content: space-between;
    }
  }

  .advantages__text {
    @media (min-width: $tablet-width) {
      min-width: 256px;

      margin: 42px auto;
    }
  }

  .advantages__img-wrapper {
    @media (min-width: $tablet-width) {
      min-width: 256px;
    }
  }

  .advantages__img {
    height: 100%;
    object-fit: cover;
  }
}
