.advantages {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.advantages__title {
  margin: 0 0 30px;

  @include big-text(700);
}

.advantages__description {
  margin: 0;

  @include regular-text(400);

  &--secondary::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);

    width: 100%;
    height: 1px;

    margin: 0 20px;

    background: #d6d6d6;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  min-width: 320px;

  &--accent {
    background-color: #81b3d2;
    color: #ffffff;
  }

  &--secondary {
    background-color: #eeeeee;
    min-height: 171px;
    padding: 40px;

    position: relative;
  }
}

.advantages__content {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__text {
  width: 256px;
  min-height: 256px;

  margin: 0 auto;
  padding: 40px 20px;

  @include flex-center(column);

  @media (min-width: $tablet-width) {
    min-width: 256px;
  }
}

.advantages__img-wrapper {
  min-width: 320px;
  min-height: 256px;
}

.advantages__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
