.card {
  position: relative;

  &--accent {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 4;
    }
  }
}

.card__text-wrapper {
  padding: 20px;

  min-height: 80px;
  width: 100%;

  text-align: start;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: #ffffff;
    background-color: #0000003f;
  }
}

.card__title {
  margin: 0;

  @include regular-text(700);

  text-transform: uppercase;
}

.card__description {
  margin: 0;

  @include regular-text(400);

  text-transform: capitalize;
}

.card__img-wrapper {
  background-color: #947350;
}

.card__img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.card__favorite {
  display: flex;
  align-items: center;
  gap: 10px;

  color: inherit;

  font-family: "PT Sans", sans-serif;

  @include regular-text(700);
}

.card__button {
  position: relative;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;

    content: "";

    width: 23px;
    height: 21px;

    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20' fill='none'%3E%3Cpath fill='%23000000' d='m12.4 3.6-.6 2.9-.6 2.5h8.7v2.1L17 18H8V8l4.4-4.4ZM2 10v8-8ZM13.2 0 6.6 6.6c-.4.3-.6.8-.6 1.4v10c0 1.1.9 2 2 2h9c.8 0 1.5-.5 1.8-1.2l3-7.1c.1-.2.1-.5.1-.7V9h.1a2 2 0 0 0-2-2h-6.3l1-4.6v-.3c0-.4-.2-.8-.4-1.1l-1.1-1ZM4 8H0v12h4V8Z'/%3E%3C/svg%3E");
    opacity: 0.3;

    @media (min-width: $desktop-width) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20' fill='none'%3E%3Cpath fill='%23FFFFFF' d='m12.4 3.6-.6 2.9-.6 2.5h8.7v2.1L17 18H8V8l4.4-4.4ZM2 10v8-8ZM13.2 0 6.6 6.6c-.4.3-.6.8-.6 1.4v10c0 1.1.9 2 2 2h9c.8 0 1.5-.5 1.8-1.2l3-7.1c.1-.2.1-.5.1-.7V9h.1a2 2 0 0 0-2-2h-6.3l1-4.6v-.3c0-.4-.2-.8-.4-1.1l-1.1-1ZM4 8H0v12h4V8Z'/%3E%3C/svg%3E");
      opacity: 1;
    }
    background-position: center;
    background-repeat: no-repeat;
  }
}
