.catalog {
  font-family: "PT Sans", sans-serif;
  .catalog__list {
    list-style: none;
  }
  .catalog__title {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    text-transform: uppercase;
  }
  .catalog__description {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    text-transform: capitalize;
  }
  .catalog__img {
    height: 100%;
    object-fit: cover;

    background-color: #947350;
  }
}
