.catalog {
  font-family: "PT Sans", sans-serif;

  margin: 20px;

  @media (min-width: $tablet-width) {
    margin: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
