.catalog {
  font-family: "PT Sans", sans-serif;
}

.catalog__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  position: relative;
}

.catalog__text {
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.catalog__title {
  margin: 0;

  @include regular-text(700);

  text-transform: uppercase;
}

.catalog__description {
  margin: 0;

  @include regular-text(400);

  text-transform: capitalize;
}

.catalog__img-wrapper {
  object-fit: cover;

  background-color: #947350;
}

.catalog__img {
  display: block;

  margin: 0 auto;
}
