.feedback-form {
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  .feedback-form__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    text-transform: uppercase;
  }

  .feedback-form__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    text-transform: uppercase;

    color: #333333;
  }

  .feedback-form__field {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    background-color: #f2f2f2;

    border: none;

    padding: 16px 16px;
  }

  .feedback-form__button {
    font-size: 21px;

    color: #ffffff;
    background-color: #81b3d2;
  }
}
