.footer {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.footer__wrapper {
  padding: 25px 77px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.footer__hashtag-wrapper,
.footer__copyright-wrapper {
  @media (min-width: $tablet-width) {
    width: 200px;
  }

  @include flex-center(column);
}

.footer__hashtag {
  @include huge-text(700);

  text-transform: uppercase;
  color: inherit;
}
