.footer {
  .footer__wrapper {
    padding: 25px 77px;

    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  .footer__hashtag {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }
}
