.footer {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.footer__wrapper {
  padding: 25px 77px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.footer__hashtag {
  @include huge-text(700);

  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
