.form {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.form__heading {
  @include big-text(700);

  margin: 0 0 40px;
  padding: 24px 0 0;

  text-transform: uppercase;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;

    z-index: 1;
    padding: 0 50px;
  }
}

.form__button {
  @include huge-text(700);

  color: #ffffff;
  background-color: #81b3d2;
}
