.form {
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  .form__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    text-transform: uppercase;
  }

  .form__button {
    font-size: 21px;

    color: #ffffff;
    background-color: #81b3d2;
  }
}
