.form-block {
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  margin: 0 0 50px;
  padding: 0;

  min-height: 200px;

  border: none;
}

.form-block__title {
  @include regular-text(400);

  margin-right: auto;

  text-transform: uppercase;

  color: #333333;
}

.form-block__name-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-block__grade-list {
  @include big-text(700);

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.form-block__grade-item {
  margin: 0 20px 30px;
}

.form-block__name-item {
  display: flex;
  flex-direction: column;
}
