.form {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.form__heading {
  @include big-text(700);

  margin: 0 0 40px;

  text-transform: uppercase;
}

.form__button {
  @include huge-text(700);

  color: #ffffff;
  background-color: #81b3d2;
}
