.heading {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  .heading__title {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .heading__description {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #333333;
  }
}
