.heading {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;

  min-height: 210px;

  @include flex-center(column);
}

.heading__title {
  margin: 0;

  @include big-text(700);
}

.heading__description {
  margin: 0;

  @include regular-text(400);

  color: #333333;
}
