.heading {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-transform: uppercase;

  min-height: 210px;
  max-width: 484px;

  padding: 40px 20px;
  margin: 0 auto;

  @include flex-center(column);
}

.heading__title {
  margin: 0 0 35px;

  @include big-text(700);
}

.heading__description {
  margin: 0;

  @include regular-text(400);

  color: #333333;
}
