.hero {
  min-height: 389px;
  width: 100%;

  background-image: url("/img/hero.jpg");
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: cover;
  .hero__img {
    margin: 0 auto;
  }
}
