.input-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

.input-text__field {
  @include big-text(700);

  background-color: #f2f2f2;

  border: none;

  padding: 16px 16px;
  margin-bottom: 16px;
}
