.interested {
  font-family: "PT Sans", sans-serif;

  text-transform: uppercase;
  padding: 38px 18px 49px;
  margin: 0 auto;

  min-height: 290px;
  max-width: 435px;
}

.interested__title {
  font-style: normal;

  margin: 0 0 30px;

  @include huge-text(700);
}

.interested__description {
  font-style: normal;

  margin: 0 0 50px;

  @include regular-text(400);

  color: #333333;
}

.interested__button {
  @include huge-text(700);

  color: #ffffff;
  background-color: #81b3d2;

  min-width: 284px;
  min-height: 58px;

  padding: 16px 49px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}
