.list-icon {
  background-color: #ffffff;
  color: #000000;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.list-icon__item {
  padding: 23px 18px;
  text-align: start;

  min-height: 161px;
  max-width: 237px;
}
