.presentation {
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  text-transform: uppercase;

  min-height: 350px;
}

.presentation__title {
  @include big-text(700);

  margin: 30px 0;
}

.presentation__description {
  @include regular-text(400);

  margin: 0 0 40px;

  color: #333333;
}

.presentation__img-wrapper {
  min-width: 280px;
}

.presentation__img {
  display: block;
  margin: 0 auto;
}
