.radio__label {
  position: relative;

  margin-left: 16px;

  &::before {
    position: absolute;
    top: 50%;
    left: -60px;

    width: 46px;
    height: 46px;

    content: "";
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  top: 50%;
  left: -44px;

  width: 16px;
  height: 16px;

  content: "";
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #333333;
}
