.social {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.social__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.social__item {
  width: 48px;
  height: 48px;

  background-color: #81b3d2;

  position: relative;
}

.social__link {
  &--vkontakte::before {
    position: absolute;

    content: "";

    width: 48px;
    height: 48px;

    top: 50%;
    transform: translate(-50%, -50%);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M23.45.95c.17-.55 0-.95-.8-.95h-2.62c-.67 0-.98.35-1.14.73 0 0-1.34 3.2-3.23 5.27-.61.6-.89.8-1.22.8-.17 0-.42-.2-.42-.74V.95c0-.66-.18-.95-.74-.95H9.15c-.42 0-.67.3-.67.6 0 .61.95.76 1.05 2.5v3.8c0 .84-.16.99-.5.99-.88 0-3.05-3.21-4.33-6.89-.25-.71-.5-1-1.17-1H.9C.15 0 0 .35 0 .73c0 .68.89 4.07 4.14 8.55C6.32 12.34 9.38 14 12.15 14c1.67 0 1.88-.37 1.88-1v-2.32c0-.73.16-.88.69-.88.38 0 1.05.2 2.61 1.67C19.11 13.22 19.4 14 20.41 14h2.62c.75 0 1.13-.37.91-1.1-.24-.72-1.09-1.77-2.21-3.02-.62-.7-1.54-1.47-1.81-1.86-.4-.49-.28-.7 0-1.14 0 0 3.2-4.43 3.53-5.93Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--telegram::before {
    position: absolute;

    content: "";

    width: 48px;
    height: 48px;

    top: 50%;
    transform: translate(-50%, -50%);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' fill='none'%3E%3Cpath fill='%23fff' d='m21.44 1.62-3.17 14.95c-.24 1.05-.86 1.31-1.75.82l-4.83-3.56-2.33 2.24c-.25.26-.47.47-.97.47l.35-4.91 8.95-8.09c.39-.35-.09-.54-.6-.2L6.01 10.32 1.26 8.82C.22 8.5.21 7.8 1.48 7.3L20.1.11c.87-.32 1.62.2 1.34 1.51Z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--youtube::before {
    position: absolute;

    content: "";

    width: 48px;
    height: 48px;

    top: 50%;
    transform: translate(-50%, -50%);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M17.18 0H2.81C1.31 0 0 1.3 0 2.8v8.3C0 12.7 1.3 14 2.81 14h14.37A2.8 2.8 0 0 0 20 11.2V2.8c.1-1.5-1.2-2.8-2.8-2.8ZM7.03 10.4V3.6L13.87 7l-6.84 3.4Z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }
}
