@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/ptsans.woff") format("woff"),
  url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/ptsansbold.woff") format("woff"),
  url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

@import "./blocks/body.scss";
@import "./blocks/body-container.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/heading.scss";
@import "./blocks/advantages.scss";
@import "./blocks/list-icon.scss";
@import "./blocks/interested.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/catalog.scss";
@import "./blocks/presentation.scss";
@import "./blocks/feedback-form.scss";
@import "./blocks/opinion.scss";
@import "./blocks/sightseeing.scss";

